<!-- Ici c'est le fichier htlm a envoyé a un utilisateur 
s'etant avec son email -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Example Email</title>
</head>
<body>
  <h1> Ici c'est Edutech</h1>
  <p>Bienvenue dans notre grande famille cher utilisateur(trice),</p>
  <p>Votre inscription a été validée avec succes.</p>
  <br>
  <button>Valider inscription</button>
  <p>Pour terminer votre inscription, rendez-vous sur votre page home</p>
</body>
<footer>
    <p>L'équipe d'Edutech</p>
</footer>
</html>
